@font-face {
  font-family: 'Kicker';
  src: url('../fonts/Kicker-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
  font-weight: 500 900;
  font-style: normal;
}


@font-face {
  font-family: 'Jomhuria';
  src: url('../fonts/Jomhuria-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
