.container {
    margin-inline: auto;
    max-width: var(--container-width);
    padding-inline: var(--container-padding);

    @include mobile {
        padding-inline: 20px;
    }

    @include mobile-s {
        padding-inline: 10px;
    }
}

.white-frame--radiusXL {
    border: var(--border-header);
    box-shadow: var(--shadow-L);
    border-radius: var(--radius-XL);
    background-color: var(--color-white);
}

.white-frame {
    border: var(--border-main);
    box-shadow: var(--shadow-XL-black);
    border-radius: var(    --radius-S);
    background-color: var(--color-white);
    @include flex-center;
    justify-content: center;
}



.green-frame {
    border: var(--border-main);
    border-radius: var(--radius-circle);
    background-color: var(--color-green);
    box-shadow: var(--shadow-XL-black);
    width: 90px;
    height: 90px;
    @include flex-center;
    justify-content: center;

    @include mobile-s {
        width: 80px;
        height: 80px;
    }
}

.social-call {
    font-family: 'Inter';
    font-weight: 800;
    text-align: center;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.hidden-desktop  {
    @include desktop {
        display: none !important;
    }
}

.visible-desktop {
    @include desktop-above {
        display: none !important;
    }
}

.hidden-tablet {
    @include tablet {
        display: none !important;
    }
}

.visible-tablet {
    @include tablet-above {
        display: none !important;
    }
}