.container {
    margin-inline: auto;
    max-width: var(--container-width);
    padding-inline: var(--container-padding);

    @include mobile {
        padding-inline: 20px;
    }

    @include mobile-s {
        padding-inline: 10px;
    }
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.hidden-desktop  {
    @include desktop {
        display: none !important;
    }
}

.visible-desktop {
    @include desktop-above {
        display: none !important;
    }
}