:root {
    --color-green: #37F333;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-green-light: #C3FFBE;

    --container-width: 1320px;
    --container-padding: 30px;

    --border-header: 3px solid black;

    --shadow-XL: 0 10px black;
    --shadow-L: 0 5px black;

    --radius-XL: 900px;
    --radius-L: 90px;
    --radius-M: 30px;

}