@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Kicker";
  src: url("../fonts/Kicker-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("woff2");
  font-weight: 500 900;
  font-style: normal;
}
@font-face {
  font-family: "Jomhuria";
  src: url("../fonts/Jomhuria-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
:root {
  --color-green: #37F333;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-green-light: #C3FFBE;
  --container-width: 1440px;
  --container-padding: 30px;
  --border-header: 3px solid black;
  --border-main: 5px solid black;
  --shadow-XL-black: 0 10px black;
  --shadow-XL-green: 0 10px #23DC1F;
  --shadow-L: 0 5px black;
  --radius-XL: 900px;
  --radius-L: 90px;
  --radius-S: 60px;
  --radius-M: 30px;
  --radius-circle: 50%;
}

.container {
  margin-inline: auto;
  max-width: var(--container-width);
  padding-inline: var(--container-padding);
}
@media (max-width: 767px) {
  .container {
    padding-inline: 20px;
  }
}
@media (max-width: 481px) {
  .container {
    padding-inline: 10px;
  }
}

.white-frame--radiusXL {
  border: var(--border-header);
  box-shadow: var(--shadow-L);
  border-radius: var(--radius-XL);
  background-color: var(--color-white);
}

.white-frame {
  border: var(--border-main);
  box-shadow: var(--shadow-XL-black);
  border-radius: var(--radius-S);
  background-color: var(--color-white);
}

.image-frame {
  border: var(--border-main);
  border-radius: var(--radius-S);
  box-shadow: var(--shadow-XL-black);
}

.green-frame {
  border: var(--border-main);
  border-radius: var(--radius-circle);
  background-color: var(--color-green);
  box-shadow: var(--shadow-XL-black);
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
@media (max-width: 481px) {
  .green-frame {
    width: 80px;
    height: 80px;
  }
}

.green-frame-M {
  border: var(--border-main);
  border-radius: var(--radius-circle);
  background-color: var(--color-green);
  box-shadow: var(--shadow-XL-black);
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
@media (max-width: 481px) {
  .green-frame-M {
    width: 80px;
    height: 80px;
  }
}

.social-call {
  font-family: "Inter";
  font-weight: 800;
  text-align: center;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 1281px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .visible-desktop {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1023px) {
  .visible-tablet {
    display: none !important;
  }
}

body {
  background-color: var(--color-green-light);
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

h2, h3, h4, h5, h6 {
  font-family: "Kicker";
  font-weight: bold;
  font-style: normal;
}

.h2 {
  max-width: max-content;
  font-family: "Inter";
  font-weight: 800;
  font-size: clamp(20px, 2.6388888889vw, 38px);
  margin-inline: auto;
  background-color: var(--color-green);
  padding: 14px 30px 8px 30px;
  border-radius: var(--radius-L);
  box-shadow: var(--shadow-XL-green);
  text-align: center;
}
@media (max-width: 481px) {
  .h2 {
    padding-inline: 20px;
    max-width: 270px;
  }
}

.header {
  font-weight: 800;
  text-transform: uppercase;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 100;
}
@media (max-width: 767px) {
  .header {
    top: 20px;
  }
}
@media (max-width: 481px) {
  .header {
    top: 10px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 15px;
  background-color: var(--color-green);
  border-radius: var(--radius-XL);
  border: var(--border-header);
  box-shadow: var(--shadow-XL-black);
}
@media (max-width: 1281px) {
  .header__inner {
    flex-wrap: wrap;
    border-radius: var(--radius-M);
    padding: 20px;
  }
}
.header__menu {
  font-weight: 800;
}
@media (max-width: 1281px) {
  .header__menu {
    order: 1;
    flex-basis: 100%;
  }
}
.header__menu-list {
  display: flex;
  gap: 15px;
}
@media (max-width: 1281px) {
  .header__menu-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    margin-top: 45px;
    margin-bottom: 24px;
  }
}
.header__menu-list-item {
  background-color: var(--color-white);
  border-radius: var(--radius-L);
  line-height: 1;
  padding: 6px 15px;
}
.header__link span {
  display: inline-block;
  padding: 10px 58px;
  margin: 10px 0 14px 0;
}
@media (max-width: 1281px) {
  .header__link span {
    margin: 9px 0 0 0;
  }
}
@media (max-width: 1281px) {
  .header__link {
    flex-basis: 100%;
    flex-grow: 1;
    align-self: flex-start;
    order: 2;
  }
}
.header__burger-button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 33px;
  height: 25px;
  border-radius: var(--radius-L);
  position: relative;
}
.header__burger-button::before, .header__burger-button::after {
  content: "";
  position: absolute;
  left: 0;
  width: 33px;
  height: 4px;
  background-color: var(--color-black);
  border-radius: var(--radius-L);
}
.header__burger-button::before {
  top: 0;
  box-shadow: 0 10.5px 0 #000;
  transition: box-shadow 0.2s 0.1s, top 0.2s 0.1s, transform 0.2s;
}
.header__burger-button::after {
  bottom: 0;
  transition: bottom 0.2s 0.1s, transform 0.2s;
}
.header__burger-button.active::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 0 #000;
  transition: box-shadow 0.1s, top 0.2s, transform 0.2s 0.1s;
}
.header__burger-button.active::after {
  bottom: 10px;
  transform: rotate(-45deg);
  transition: bottom 0.2s, transform 0.2s 0.1s;
}
@media (max-width: 1281px) {
  .header__burger-button {
    margin-left: auto;
  }
}

.head {
  position: relative;
}
.head__inner {
  background-image: url(/public/image/head-leaf-image.png);
  background-size: 1440px auto;
  background-position: center 370px;
  background-repeat: no-repeat;
  height: 2000px;
  padding-top: 114px;
  position: relative;
}
@media (max-width: 1281px) {
  .head__inner {
    padding-top: 185px;
    background-position: center 800px;
  }
}
@media (max-width: 1024px) {
  .head__inner {
    background-size: 1024px auto;
    background-position: center 1050px;
  }
}
@media (max-width: 767px) {
  .head__inner {
    background-size: 711px auto;
    background-position: center 1070px;
    padding-top: 220px;
    height: 1723px;
  }
}
@media (max-width: 481px) {
  .head__inner {
    background-size: 711px auto;
    background-position: center 997px;
  }
}
.head__title-wrapper {
  padding-bottom: 35px;
}
.head__title {
  font-family: "Jomhuria";
  font-size: clamp(112px, 25vw, 360px);
  letter-spacing: -0.3rem;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: normal;
}
@media (max-width: 1024px) {
  .head__title {
    letter-spacing: -0.3rem;
  }
}
@media (max-width: 767px) {
  .head__title {
    white-space: normal;
    line-height: 0.5;
    letter-spacing: -0.085rem;
    text-align: center;
  }
}
.head__subtitle {
  margin-top: -90px;
}
@media (max-width: 1281px) {
  .head__subtitle {
    margin-top: -50px;
  }
}
@media (max-width: 767px) {
  .head__subtitle {
    margin-top: 0px;
  }
}
.head__content-wrapper {
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  margin-top: 99px;
}
@media (max-width: 1024px) {
  .head__content-wrapper {
    justify-content: center;
  }
}
.head__social-call {
  text-align: center;
  padding: 40px 25px 38px 25px;
  font-size: 20px;
  margin-bottom: 20px;
}
.head__social-links {
  display: flex;
  gap: 10px;
}
.head__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 50px 50px;
  position: relative;
}
.head__description::before, .head__description::after {
  content: "";
  position: absolute;
  border: var(--border-main);
  border-radius: var(--radius-circle);
  background-color: var(--color-white);
  box-shadow: var(--shadow-XL-black);
}
@media (max-width: 1024px) {
  .head__description::before, .head__description::after {
    display: none;
  }
}
.head__description::before {
  top: -37px;
  left: -78px;
  width: 74px;
  height: 74px;
}
@media (max-width: 1281px) {
  .head__description::before {
    top: auto;
    bottom: -78px;
    left: -37px;
  }
}
.head__description::after {
  top: -52px;
  left: -139px;
  width: 49px;
  height: 49px;
}
@media (max-width: 1281px) {
  .head__description::after {
    top: auto;
    left: -78px;
    bottom: -130px;
  }
}
@media (max-width: 1024px) {
  .head__description {
    z-index: -10;
  }
}
@media (max-width: 481px) {
  .head__description {
    padding: 0 20px 40px 20px;
  }
}
.head__description > figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head__description-logo {
  margin-top: -40px;
  margin-bottom: 30px;
}
.head__description-text {
  font-size: 20px;
  text-align: left;
}
.head__description-social-call {
  font-size: 20px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 20px;
}

.welcome {
  margin-top: -600px;
  position: relative;
  z-index: 10;
}
@media (max-width: 1281px) {
  .welcome {
    margin-top: -200px;
  }
}
.welcome__inner {
  padding: 80px;
  padding-top: 70px;
}
@media (max-width: 1024px) {
  .welcome__inner {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .welcome__inner {
    padding-top: 40px;
    padding-inline: 10px;
    padding-bottom: 280px;
  }
}
.welcome__title {
  font-family: "Kicker";
  font-size: clamp(28px, 4.7222222222vw, 68px);
  font-weight: bold;
  line-height: 0.9;
  letter-spacing: -0.02;
  text-align: center;
  margin-bottom: 20px;
}
.welcome__title > span {
  color: var(--color-green);
}
.welcome__descritpion {
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(16px, 1.9444444444vw, 28px);
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .welcome__descritpion {
    margin-bottom: 72px;
  }
}
.welcome__images-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 300px;
  gap: 30px;
  position: relative;
  margin-bottom: 80px;
}
.welcome__images-wrapper > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.welcome__images-wrapper > :nth-child(1) {
  grid-area: 1/1/3/2;
}
.welcome__images-wrapper > :nth-child(2) {
  grid-area: 1/3/2/5;
}
.welcome__images-wrapper > :nth-child(3) {
  grid-area: 1/2/2/3;
}
.welcome__images-wrapper > :nth-child(4) {
  grid-area: 2/2/3/4;
}
.welcome__images-wrapper > :nth-child(5) {
  grid-area: 2/4/3/5;
}
@media (max-width: 1281px) {
  .welcome__images-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
  }
  .welcome__images-wrapper > :nth-child(2) {
    grid-area: 1/2/2/4;
  }
  .welcome__images-wrapper > :nth-child(3) {
    grid-area: 1/1/2/2;
  }
  .welcome__images-wrapper > :nth-child(4) {
    grid-area: 2/1/3/3;
  }
  .welcome__images-wrapper > :nth-child(5) {
    grid-area: 2/3/3/4;
  }
}
@media (max-width: 1024px) {
  .welcome__images-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px;
    margin-bottom: 70px;
  }
  .welcome__images-wrapper > :nth-child(2) {
    grid-area: 1/1/2/2;
  }
  .welcome__images-wrapper > :nth-child(4) {
    grid-area: 2/1/3/2;
  }
}
@media (max-width: 767px) {
  .welcome__images-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 280px;
    margin-bottom: 60px;
  }
  .welcome__images-wrapper > :nth-child(4) {
    grid-area: 1/1/2/2;
  }
}
@media (max-width: 481px) {
  .welcome__images-wrapper > :nth-child(4) {
    grid-area: 1/1/2/2;
  }
}
.welcome__images-wrapper-hand {
  position: absolute;
  width: 110px;
  height: 110px;
  top: -42px;
  left: -22px;
}
@media (max-width: 1281px) {
  .welcome__images-wrapper-hand {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1024px) {
  .welcome__images-wrapper-hand {
    width: 90px;
    height: 90px;
  }
  .welcome__images-wrapper-hand > img {
    width: 47px;
    height: 41px;
  }
}
@media (max-width: 1024px) {
  .welcome__images-wrapper-hand {
    width: 81px;
    height: 81px;
    top: -40px;
    left: 24px;
  }
}
.welcome__for-steep {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media (max-width: 1281px) {
  .welcome__for-steep {
    justify-content: center;
    row-gap: 26px;
    flex-wrap: wrap;
  }
}
.welcome__for-steep-title {
  font-family: "Kicker";
  font-size: clamp(28px, 4.7222222222vw, 68px);
  font-weight: bold;
  line-height: 0.9;
  letter-spacing: -0.02;
  white-space: wrap;
}
.welcome__for-steep-title > span {
  color: var(--color-green);
}
@media (max-width: 1281px) {
  .welcome__for-steep-title {
    text-align: center;
  }
}
.welcome__for-steep-banner {
  display: flex;
  align-items: flex-end;
}
.welcome__for-steep-banner::before, .welcome__for-steep-banner::after {
  display: inline-block;
  color: var(--color-white);
  font-family: "Kicker";
  font-weight: bold;
  font-size: clamp(30px, 3.4722222222vw, 50px);
  line-height: 0.9;
  letter-spacing: -0.02;
  padding: 22px 31px 12px 31px;
  border-radius: var(--radius-XL);
}
.welcome__for-steep-banner::before {
  content: "Всего";
  background-color: var(--color-black);
  transform: rotate(-3.65deg);
}
.welcome__for-steep-banner::after {
  content: "4 шага";
  background-color: var(--color-green);
  transform: rotate(10.88deg);
  white-space: nowrap;
  margin-bottom: 40px;
  margin-left: -100px;
}
@media (max-width: 1024px) {
  .welcome__for-steep-banner::after {
    margin-left: -80px;
  }
}
.welcome__steeps {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 600px));
  grid-template-rows: 360px minmax(360px, 665px);
  row-gap: 30px;
  column-gap: 20px;
}
.welcome__steeps > :nth-child(3) {
  max-height: 655px;
  min-height: 450px;
}
.welcome__steeps > :nth-child(4) {
  max-height: 400px;
}
@media (max-width: 767px) {
  .welcome__steeps {
    grid-template-columns: minmax(280px, auto);
    grid-template-rows: repeat(4, minmax(200px, auto));
    row-gap: 70px;
  }
}
.welcome__steep {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 50px;
  padding-bottom: 40px;
}
.welcome__steep.welcome__steep--warning {
  display: block;
  padding: 0;
}
@media (max-width: 1024px) {
  .welcome__steep {
    padding: 40px;
  }
}
@media (max-width: 481px) {
  .welcome__steep {
    padding: 30px;
  }
}
.welcome__steep-title {
  color: var(--color-green);
  font-size: clamp(26px, 3.1944444444vw, 46px);
  white-space: wrap;
  padding-right: 130px;
}
.welcome__steep-description {
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(16px, 1.3888888889vw, 20px);
}
.welcome__steep-number {
  position: absolute;
  width: 122px;
  height: 122px;
  top: 24px;
  right: 25px;
  font-size: clamp(42px, 4.7222222222vw, 68px);
  font-family: "Kicker";
  font-weight: bold;
}
@media (max-width: 1281px) {
  .welcome__steep-number {
    width: 90px;
    height: 90px;
    top: -20px;
    right: -20px;
  }
}
@media (max-width: 1024px) {
  .welcome__steep-number {
    width: 80px;
    height: 80px;
    top: -20px;
    right: -20px;
  }
}
@media (max-width: 767px) {
  .welcome__steep-number {
    top: -40px;
    right: 20px;
  }
}
.welcome__steep-warning-title {
  color: var(--color-white);
  font-size: clamp(26px, 3.1944444444vw, 46px);
  line-height: 0.9;
  letter-spacing: -0.02;
}
.welcome__steep-warning {
  display: grid;
  row-gap: 20px;
  background-color: var(--color-green);
  border: var(--border-main);
  padding: 50px;
  margin-inline: -55px;
  margin-bottom: -45px;
  border-radius: var(--radius-S);
}
@media (max-width: 1024px) {
  .welcome__steep-warning {
    padding: 40px;
    margin-inline: -45px;
  }
}
@media (max-width: 481px) {
  .welcome__steep-warning {
    padding: 30px;
    margin-inline: -35px;
    margin-bottom: -35px;
  }
}
.welcome__steep-warning-descritpion {
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(16px, 1.3888888889vw, 20px);
}
.welcome__leaf {
  position: absolute;
  bottom: 0;
  right: 88px;
  width: 500px;
  height: auto;
}
@media (max-width: 1281px) {
  .welcome__leaf {
    right: 50px;
    width: 450px;
  }
}
@media (max-width: 1024px) {
  .welcome__leaf {
    width: 370px;
  }
}
@media (max-width: 481px) {
  .welcome__leaf {
    width: 300px;
    right: 20px;
  }
}

.pre-sale {
  margin-top: 93px;
  position: relative;
  margin-bottom: 120px;
}
@media (max-width: 481px) {
  .pre-sale {
    margin-top: 60px;
  }
}
.pre-sale__inner {
  padding: 80px;
}
@media (max-width: 1024px) {
  .pre-sale__inner {
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .pre-sale__inner {
    padding: 30px;
    padding-top: 50px;
  }
}
@media (max-width: 481px) {
  .pre-sale__inner {
    padding: 10px;
    padding-top: 50px;
  }
}
.pre-sale__title {
  position: absolute;
  top: -27px;
  left: 0;
  right: 0;
}
.pre-sale__addres-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color-green-light);
  border: var(--border-main);
  box-shadow: var(--shadow-XL-black);
  border-radius: var(--radius-S);
  padding: 20px;
  padding-left: 60px;
  margin-bottom: 75px;
}
@media (max-width: 767px) {
  .pre-sale__addres-wrapper {
    flex-direction: column;
    row-gap: 22px;
    justify-content: center;
    padding: 20px;
    padding-top: 30px;
  }
}
.pre-sale__addres {
  font-size: clamp(20px, 1.9444444444vw, 28px);
  font-weight: 700;
  font-style: italic;
}
@media (max-width: 767px) {
  .pre-sale__addres {
    text-align: center;
  }
}
.pre-sale__button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-weight: 800;
  font-size: 22px;
  padding: 17px 42px 17px 42px;
  border: var(--border-main);
  box-shadow: var(--shadow-L);
  background-color: var(--color-green);
  border-radius: var(--radius-S);
  cursor: pointer;
  transition: background-color 0.1s;
}
.pre-sale__button:active {
  background-color: var(--color-white);
}
.pre-sale__body-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 1281px) {
  .pre-sale__body-wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}
@media (max-width: 1281px) {
  .pre-sale__body-description {
    text-align: center;
  }
}
.pre-sale__body-description-title {
  font-family: "Kicker";
  font-size: clamp(28px, 4.7222222222vw, 68px);
  font-weight: bold;
  margin-bottom: 20px;
}
.pre-sale__body-description-title > span {
  color: var(--color-green);
}
.pre-sale__body-description-subtitle {
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(16px, 1.6666666667vw, 24px);
  max-width: 650px;
}
.pre-sale__body-image-wrapper {
  position: absolute;
  top: 20%;
  left: -55px;
  width: 110px;
  height: 110px;
}
@media (max-width: 1281px) {
  .pre-sale__body-image-wrapper {
    width: 90px;
    height: 90px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.pre-sale__body-image {
  width: 45px;
  height: 45px;
}
@media (max-width: 1281px) {
  .pre-sale__body-image {
    width: 37px;
    height: 37px;
  }
}
.pre-sale__body-clue {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 480px;
  border: 5px dashed var(--color-black);
  border-radius: var(--radius-M);
  padding: 40px 33px 40px 77px;
  background-image: url(/public/image/Frame-8.png);
  background-color: var(--color-green-light);
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(14px, 1.5277777778vw, 22px);
}
@media (max-width: 1281px) {
  .pre-sale__body-clue {
    padding: 20px;
    padding-top: 63px;
    text-align: center;
  }
}
.pre-sale__rounds {
  margin-top: 50px;
  display: flex;
  gap: 11px;
}
.pre-sale__rounds > :nth-child(2) {
  grid-template-rows: 65px auto;
}
.pre-sale__rounds > :nth-child(3) {
  grid-template-rows: 75px auto;
}
.pre-sale__rounds > :nth-child(4) {
  grid-template-rows: 85px auto;
}
.pre-sale__rounds > :nth-child(5) {
  grid-template-rows: 95px auto;
}
@media (max-width: 1281px) {
  .pre-sale__rounds {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .pre-sale__rounds {
    margin-top: 20px;
  }
}
.pre-sale__round {
  display: grid;
  grid-template-rows: 55px auto;
  border: var(--border-main);
  border-radius: var(--radius-M);
  background-color: var(--color-green);
  background-image: url(/public/image/Frame\ 9.png);
  background-repeat: no-repeat;
  width: 235px;
  height: 240px;
}
.pre-sale__round-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--color-white);
  border: var(--border-main);
  border-radius: var(--radius-M);
  margin-inline: -5px;
  margin-bottom: -5px;
  padding-bottom: 16px;
}
.pre-sale__round-number {
  display: block;
  margin-top: 17px;
  text-align: center;
  font-family: "Kicker";
  font-weight: bold;
  font-size: 26px;
  line-height: 0.9;
  letter-spacing: -0.02;
  flex-basis: 100%;
}
.pre-sale__round-body-precent-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}
.pre-sale__round-body-price {
  display: block;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: bold;
  margin-top: 7px;
}
.pre-sale__round-body-precent-number {
  font-family: "Kicker";
  font-weight: bold;
  color: var(--color-green);
  font-size: 60px;
  line-height: 0.9;
  letter-spacing: -0.02%;
}

.pre-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  row-gap: 589px;
  background: url(/public/image/background-pre-order.png), linear-gradient(to bottom, var(--color-green-light) 50%, #98E191 50%);
  background-repeat: no-repeat;
  background-position: center 141px;
  background-size: contain;
}
@media (max-width: 1281px) {
  .pre-order {
    row-gap: 41vw;
  }
}
@media (max-width: 1024px) {
  .pre-order {
    background-position: center 100px, center 100px;
  }
}
@media (max-width: 481px) {
  .pre-order {
    background-position: center 80px, center 0px;
  }
}
@media (max-width: 433px) {
  .pre-order {
    background-position: center 120px, center 0px;
  }
}
.pre-order__description > :nth-child(1) {
  font-family: "Kicker";
  font-weight: bold;
  font-size: clamp(28px, 6.8055555556vw, 98px);
  line-height: 0.9;
  letter-spacing: -0.02;
}
.pre-order__description > :nth-child(2) {
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(16px, 1.9444444444vw, 28px);
}
.pre-order__block {
  position: relative;
  max-width: 100%;
  height: 520px;
}

.roadmap {
  background-image: url(/public/image/background-roadmap.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
}
.roadmap__title {
  font-size: clamp(28px, 6.8055555556vw, 98px);
  font-family: "Kicker";
  font-weight: bold;
  letter-spacing: -0.02;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 41px;
}
.roadmap__inner-image {
  position: absolute;
  top: 219px;
  left: 0;
}
@media (max-width: 1024px) {
  .roadmap__inner-image {
    width: 1024px;
    height: 787px;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .roadmap__inner-image {
    width: 800px;
    height: 583px;
    margin-right: -10px;
  }
}
.roadmap__inner {
  display: grid;
}
@media (max-width: 1440px) {
  .roadmap__inner {
    gap: 60px;
    background-color: #2E1A0A;
    margin-inline: -30px;
    margin-top: 1000px;
  }
}
@media (max-width: 1281px) {
  .roadmap__inner {
    margin-top: 800px;
  }
}
@media (max-width: 767px) {
  .roadmap__inner {
    margin-top: 600px;
    margin-inline: -20px;
  }
}
@media (max-width: 767px) {
  .roadmap__inner {
    margin-top: 600px;
    margin-inline: -10px;
  }
}
.roadmap__inner > :nth-child(1) {
  justify-self: start;
}
@media (max-width: 1440px) {
  .roadmap__inner > :nth-child(1) {
    margin-top: 0;
    justify-self: center;
  }
}
.roadmap__inner > :nth-child(1)::after {
  content: url(/public/image/icons/left.svg);
  position: absolute;
  top: 50px;
  right: -95px;
}
@media (max-width: 1440px) {
  .roadmap__inner > :nth-child(1)::after {
    display: none;
  }
}
.roadmap__inner > :nth-child(2) {
  justify-self: end;
  margin-top: -100px;
}
@media (max-width: 1440px) {
  .roadmap__inner > :nth-child(2) {
    margin-top: 0;
    justify-self: center;
  }
}
.roadmap__inner > :nth-child(2)::after {
  content: url(/public/image/icons/right.svg);
  position: absolute;
  top: 50px;
  left: -95px;
}
@media (max-width: 1440px) {
  .roadmap__inner > :nth-child(2)::after {
    display: none;
  }
}
.roadmap__inner > :nth-child(3) {
  justify-self: start;
  margin-top: -50px;
}
@media (max-width: 1440px) {
  .roadmap__inner > :nth-child(3) {
    margin-top: 0;
    justify-self: center;
  }
}
.roadmap__inner > :nth-child(3)::after {
  content: url(/public/image/icons/left.svg);
  position: absolute;
  top: 50px;
  right: -95px;
}
@media (max-width: 1440px) {
  .roadmap__inner > :nth-child(3)::after {
    display: none;
  }
}
.roadmap__inner > :nth-child(4) {
  justify-self: end;
  margin-top: -160px;
}
@media (max-width: 1440px) {
  .roadmap__inner > :nth-child(4) {
    margin-top: 0;
    justify-self: center;
  }
}
.roadmap__inner > :nth-child(4)::after {
  content: url(/public/image/icons/right.svg);
  position: absolute;
  top: 50px;
  left: -95px;
}
@media (max-width: 1440px) {
  .roadmap__inner > :nth-child(4)::after {
    display: none;
  }
}
.roadmap__item {
  position: relative;
  padding: 40px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
  max-width: 440px;
  background-color: var(--color-green-light);
  border: var(--border-main);
  border-radius: var(--radius-S);
  box-shadow: var(--shadow-XL-black);
}
@media (max-width: 1440px) {
  .roadmap__item {
    margin-bottom: 60px;
  }
}
@media (max-width: 481px) {
  .roadmap__item {
    max-width: 300px;
    height: auto;
  }
}
.roadmap__item-title {
  font-family: "Kicker";
  font-weight: bold;
  line-height: 0.9;
  letter-spacing: -0.02;
  font-size: clamp(26px, 2.9166666667vw, 42px);
}
.roadmap__item-number {
  position: absolute;
  top: -37px;
  right: 15px;
  width: 90px;
  height: 90px;
  font-size: clamp(42px, 3.3333333333vw, 48px);
  font-family: "Kicker";
  font-weight: bold;
  line-height: 0.9;
  letter-spacing: -0.02;
  background-color: var(--color-green);
  border-radius: var(--radius-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-main);
  box-shadow: var(--shadow-XL-black);
}
.roadmap__list {
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.2;
  font-size: 16px;
  list-style: disc;
  display: grid;
  padding-left: 25px;
  gap: 12px;
}/*# sourceMappingURL=main.css.map */